/*NOTES:
Dark purple color:#8B3D5F;	
Light pink color: #f6c2e7;
font-families: 'Rochester';
*/ 


*{
box-sizing: border-box;
}

html{
	font-size: 100%
}

a{
  text-decoration:none;
}

#logo{
    margin: auto;
    width: 15%;
    border: 3px;
    padding: 10px;
    display: block;
}

#navbar, #nav,.nav{
   display: flex;
   flex-flow:row;
    color:#8B3D5F;
    font-family:'roboto',sans-serif;
    padding: 0.5rem; /*this determine the space between menu items*/ 
    justify-content: center;
    list-style:none;
    align-items: center; /*this center the content in the div, not the div itself */ 
    text-decoration: none;
    text-align:center;
}

#navbar{
    margin:auto;
    width:100%;
}

#navbar , .nav{
  padding: 1em;
  text-decoration: none;
}

#navbar a:hover{
    color:#f6c2e7;
}
/* end menu code */


#blogbody{
    width:65%;
    margin:auto;
    object-fit: contain;
}

h1{
    font-size: 150%;
    font-weight:bold;
    text-align:center;
    font-family: 'Rochester', cursive;
}

h3, .button{
    font-family: 'Roboto', sans-serif;
    padding:20px;
}

/*
.banner{
    position:absolute;
    top:2rem;
    left:2rem;
    height:4rem;
}

*/

h2{
    font:150%;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 0.5rem 0.75rem 0.35rem 2rem;
   
}

.banner{
    background-color: #8B3D5F;
    display: inline-block;
    margin-top: 1rem;
}



.maintext, .date,  h3{
    background-color:#f6c2e7;
}

.maintext , .date{
    font-family: 'Roboto', sans-serif;
    max-width:100%;
    padding:10px 40px 0px 40px;
    position:relative;
}

.post{
    margin:auto;
    background-color:#f6c2e7;
    position:relative;
    padding-bottom: 2rem;
    border:3rem;
    margin-top:2rem;
}


.coverpic{
    margin:auto;
    width:55%;
    display:block;
    padding-top:2rem;

}


.button a:hover{
    color:#f6c2e7;
}

.readmore{
    color:white;
    padding:5px;
    width:10rem;
    margin:auto;
    font-family: 'Rochester', cursive;
    display:block;
    font-size: 1.5rem;
    position: relative;
    background-color: #8B3D5F;
    text-align: center;
}


/*begin footer code*/
.icons{
    width: 4rem;
    flex-flow: column;
}


#footer{
  position:relative;
  width:100%;
  margin-top: 5rem;
  background-color: #f6c2e7;
  object-fit: contain;
  }



.footercontainer{
  display:block;
  margin:0 auto;
  width:15rem;
}

.footer{
  object-fit: contain;
  display: block;
  margin:auto;
  width: 100%;
  margin:0.5rem;
}

#arrow{
  height:3rem;
  padding-top: 1rem;
}

.icon{
  width:2rem;
  margin:auto;
}

.socialmedia{
  margin:auto;
  width:100%;
  padding-left:2.5rem;
  padding-bottom: .5rem;
  display: block;
}

#footerinfo{
    color: #f6c2e7;
    display:inline-block;
    margin:auto;
    width:100%;
    text-align:center;
    font-family: 'Roboto' , sans-serif;
    object-fit: contain;
    padding:0.5rem;
    background-color: #8B3D5F;

}

#tag{
  font-size: 0.75rem;
}

#footerroses{
  height:3rem;
  width: auto;
}
 /*end footer code*/ 

@media screen and (min-width: 580px){
    .linehide{
        display:none;
    }

    #logo3{
        display: none;
    }
}

@media screen and (max-width:580px) {
    
    h2{
    text-align: center;
    font:90%;
    }

    .banner{
        background-color: #8B3D5F;
        display: inline-block;
        margin-top: 1rem;
        width:100%;
        text-align:center;
    }

    h2, .banner{
      position:sticky;
    }

    .post{
        word-wrap: break-word; /*stops text from flowing out of a div
        when reducing the div-height*/ 
        max-height: 40rem;
        padding-bottom:2rem;
        padding-top: 1rem;
        overflow:scroll; /*when I have scroll here, the button is fixed to the 
        bottom, but then the whole container scrolls when you reach the end of the text
        and the button moves up*/
    }

    .readmore{
        width:100%;
        max-width:30rem;
        bottom: 0;
        position:relative;
        text-align:center;
    }

    .maintext{
        max-height: 20rem;
        overflow: scroll;
        width:120%;
    }

    .date{
        display: none;
    }

    #blogbody{
        width:85%;
    }


    /*responsive menu code starts here*/ 
    #navbar, .nav{
   background-color:#8B3D5F;
   color:white; 
   padding:.5rem;
   font-size:105%;
  }

  #logo3{
    margin:auto;
    width:25%;
    padding-top: 1rem;
    display: block;
  }

  #navbar{
    margin-top: 1rem;
    width: 50%;
  }

  ul, li, #nav{
    display: flex;
    flex-flow:column;
    padding:.5rem;
  }
    
    #logo2{
        display:none;
    }

    #logo{
        width:50%;
        padding-bottom: 0;
    }
    /*responsive menu code ends here*/

  
   
   h1{
    font-size: 175%;
   }
   /*menu media query ends*/

   /*footer media query starts here*/ 

   .icon{
    width:4rem;
   }

   #arrow{
    height:3.5rem
   }

   /*end footer media query*/
}